body{
    margin: 0px;
    background-color: whitesmoke;
}
.top{
    background-color: #118AB2;
    opacity: 70%;
    height: 15vh;
    border-radius: 0vh 00vh 50vh 0vh;
    transition: 450ms cubic-bezier(0.215, 0.610, 0.355, 1);
    position: sticky;
    top: 0px;
}
.top > a{
    text-decoration: none;
    cursor: pointer;
}
.top > a > h1{
    font-size: 9vh;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    color: whitesmoke;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2vw;
}
.top:hover{
    background-color: black;
    border-radius: 0;
}
.red{
    background-color: #F64740;
}
.content{
    margin: 5vh;
}
.content > h1{
    font-weight: normal;
    font-size: 8vh;
    font-family: 'Poppins', sans-serif;
}
.content > h2{
    font-weight: normal;
    font-size: 5vh;
    font-family: 'Poppins', sans-serif;
}
.content > h3{
    font-weight: normal;
    font-size: 4vh;
    font-family: 'Poppins', sans-serif;
}
.content #profile{
    border-radius: 100%;
    float: left;
    height: 30vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
}
.content p{
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
}
.content a{
    
    color: inherit;
}
.content ul{
    clear: both;
    background-color: #06D6A0;
    color: whitesmoke;
    padding: 5vh 5vh 5vh 10vh;
    font-size: 3vh;
    border-radius: 20vh 0vh;
    transition: 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.content ul li{
    padding-top: 1vh;
    font-family: 'Poppins', sans-serif;
}
.content ul:hover{
    color: #06D6A0;
    background-color: whitesmoke;

}
.content .img-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.list-type-none{
    list-style-type: none;
}
.content .fonte{
    font-size: 2vh;
}

.voltar-btn{
    position: fixed;
    bottom: 1vh;
    right: 6vh;
}

.voltar-btn > a{
    float: right;
    margin-bottom: 10vh;
    padding: 2vh;
    background-color: #06D6A0;
    font-family: 'Poppins', sans-serif;
    border-radius: 2vh;
    border: whitesmoke 5px solid;
    color: whitesmoke;
    text-decoration: none;
    font-size: 2vh;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.voltar-btn > a:hover{
    background-color: whitesmoke;
    border-color: #06D6A0;
    border: inset;
    color: #06D6A0;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background-color: whitesmoke;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #06D6A0;
  }
  